*{
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
    user-select: none;
	
}

body{	
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #7191A5;
	background-color: #f2f2f2;
	font-size: 1.4vw;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 1.4vw;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
#fader{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
#fader-ele{
	position: absolute;
	background-color: #f2f2f2;
	border-radius: 1.5vw;
	width: 34vw;
	padding: 5vw 0;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#mini-fader-ele{
	position: relative;
	width: 85%;
	height: 83%;
	margin: auto;
	text-align: center;
}
#speech{
	color: #152938;
	font-size: 3vw;
	margin-bottom: 1vw;
	margin-top: -2vw;
}
p{
	position: relative;
	font-size: 1vw;
	margin: auto;
	margin-bottom: 2.5vw;
}
.boxes{
	position: relative;
	width: 100%;
	height: 4vw;
	margin-top: 1vw;
	background-color: #DFE7EC;
	border-radius: 0.7vw;
	margin: 1vw 0vw;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: space-between;
	margin-top: 1vw;
}
.boxes h2{
	display: inline;
	margin: 0;
	font-size: 2.4vw;
	color: #304859;
	position: absolute;
	margin-block-start: 0em;
    margin-block-end: 0em;
	right: 1vw;
	height: 4vw;
	transform: translate(0,18%);
}
.boxes h3{
	display: inline;
	text-align: left;
	position: relative;
	left: 1vw;
	transform: translate(0%,35%);
	margin-block-start: 0em;
    margin-block-end: 0em;
	font-size: 1.2vw
}
#min,#mov{
	text-align: right;
	position: relative;
	right: 1vw;
}
#box5{
	width: 100%;
	position: relative;
	margin-top: 2vw;
}
.options{
	border-radius: 1.8vw;
	width: 13.2vw;
	height: 2.6vw;
}
.options div{
	position: relative;
	top: 25%;
	text-align: center;
}
#restart{
	background-color: #FDA214;
	float: left;
	color: #FCFCFC;
	font-size: 1vw;
}
#restart:hover{
	background-color: #FFB84A;
}
#setup{
	background-color:  #DFE7EC;
	float: right;
	font-size: 1vw;
	color: #152938;
}
#setup:hover{
	background-color: #6395B8;
	color: #FCFCFC
}
#main-container{
	position: absolute;
	margin:0 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#container{
	width: 77.1vw;
	margin: auto;
	position: relative;
}
nav{
	position: relative;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#navg{
	width: 26%;
	height:100%;
	display: flex;
	justify-content: space-between;
}
#but1{
	width: 8.8vw;
	height: 3.6vw;
	background-color: #FDA214;
	color: #FCFCFC;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	margin-right: 10px;
	display: flex;
	justify-content: center;
}
#but1:hover{
	background-color: #FFB84A;
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey
}
#but2{
	width: 10.4vw;
	height: 3.6vw;
	background-color: #DFE7EC;
	color: #304859;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	display: flex;
	justify-content: center;
}
#but2:hover{
	background-color: #6395B8;
	color: #fcfcfc;
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey
}
#but1 h3, #but2 h3{
	margin: auto auto;
	position: relative;
	
}
svg{
	position: relative;
	top: 6px
}
.ball_element svg{
	color: #FCFCFC;
	position: relative;
	margin:0 0;
	text-align: center;
	box-sizing: border-box;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 25%;
	transform: translate(-50%,-50%);
	justify-content: center;
	display: none;
}
.ball_element span{
	position: relative;
	margin: 0 0;
	font-size: 5vw;
	top:10%;
	color: #FCFCFC;
	display: none;
}

.ball_element{
	width: 7.2vw;
	height: 7.2vw;
	background-color: #304859;
	border-radius: 50%;
	margin: auto auto;
    cursor: pointer;
}
.ball_element:hover{
	background-color: #6395B8;
}
#balls{
	position: relative;
	text-align: center;
	margin: auto;
	width: 32.9vw;
	height: 32.9vw;
	display: grid;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
}
#footers{
	position: relative;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.players{
	width: 17.7vw;
	height: 5vw;
	background-color: #DFE7EC;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.scores{
	position: relative;
    margin: 0 0;
    padding: 0 0;
	height: 100%;
	font-size: 2vw;
	top:22%;
	color: #304859;
	position: relative;
}
.playerName{
    margin-top: 9%
}
#minutes{
	float: left;
}
#menu{
	display: none;
}
#menu:hover{
	background-color: #FFB84A;
}
#menu{
	display: none;
}
.clicked{
	background-color: #FDA214;
	animation: reduce 1 10ms;
	animation-fill-mode: forwards;
}
.clicked:hover{
	background-color: #FDA214;;
}
.clicked svg, .clicked span{
	display: inline;
}
.checked{
	background-color: #BCCED9;
	animation: reducer 1 10ms;
	animation-fill-mode: forwards
}
.checked svg, .checked span{
	display: inline;
}
.checked:hover{
	background-color: #BCCED9;
}
#m-fader{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.triangle{
	position: relative;
	fill: rgb(253, 162, 20);
	transform: rotate(180deg);
	text-align: center;
	visibility: visible;
}
.options:hover{
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey
}
@keyframes reduce{
	100%{
		transform: scale(0.8);
		box-shadow: 0px 0px 2px 0.05px grey
	}
}
@keyframes reducer{
	100%{
		transform: scale(0.8);
	}
}

@media only screen and (max-device-width: 480px) and (min-device-width: 260px){
	body{
		font-size: 3.8vw;
	}
	h3{
		font-size: 3.9vw;
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
	}
	#container{
		width: 87.2vw;
		height: 90%;
		margin: 0 0;
	}
	nav{
		width: 87.2vw;
	}
	#menu{
		width: 16.3vw;
		height: 8.3vw;
		background-color: #FDA214;
		color: #FCFCFC;
		text-align: center;
		border-radius: 26px;
		margin: auto  ;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#menu:hover{
		background-color: #FFB84A;
		color: #fcfcfc;
		transition: 100ms;
		transform: scale(1.1);
		box-shadow: 0px 0px 2px 0.05px grey
	}
	#menu h3{
		display: inline;
		position: relative;
		top: 0%;
		left: 0%;
		transform: translate(0%,13%);
		width: 100%;
		height: 100%;
	}
	#but1, #but2{
		display: none
	}	
	svg{
	position: relative;
	top: 0.5vw;
	}
	.ball_element{
		width: 18vw;
		height: 18vw;
	}
	.ball_element span{
		font-size: 10vw;
		top:17%;
	}
	#balls{
		position: relative;
		margin: auto;
		margin-top: 10vw;
		margin-bottom: 10vw;
		width: 87.2vw;
		height:	87.2vw;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: repeat(4, 25%);
	}
	#footers{
		position: relative;
		width: 100%
	}
	
    .players{
        flex-direction: column;
        justify-content: center;
        height: 20vw;
    }
	.playerName{
        position: relative;
        margin-left: 6.5vw;
        top: 2vw;
    }
	.scores{
		position: relative;
		font-size: 6.4vw;
		top: -2vw;
	}
    #player1 {
        visibility: hidden;
        position: relative;
    }
    #player1:after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "P1";
    }
    #player2 {
        visibility: hidden;
        position: relative;
    }
    #player2:after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "P2";
    }
    #player3 {
        visibility: hidden;
        position: relative;
    }
    #player3:after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "P3";
    }
    #player4 {
        visibility: hidden;
        position: relative;
    }
    #player4:after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "P4";
    }
	#fader-ele{
		border-radius: 5vw;
		width: 87.2vw;
		padding: 10vw 0vw;
	}
	#speech{
		color: #152938;
		font-size: 8.4vw;
	}
	p{
		font-size: 3.7vw;
		margin-top: 4vw;
	}
	.boxes{
		height: 12.8vw;
		border-radius: 1.3vw;
		margin: 4vw 0vw;
	}
	.boxes h2{
		font-size: 6.2vw;
		right: 3vw;
		transform: translate(0%,70%);
	}
	.boxes h3{
		transform: translate(0%,37%);
		left: 3vw;
		font-size: 3vw
	}
	#box5{
		width: 100%;
	}
	.options{
		margin-top: 5vw;
		border-radius: 6vw;
		width: 100%;
		height: 10.6vw;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.options div{
		top: 0;
		bottom: 0px;
	}
	.options:hover{
		transform: scale(1.1);
		box-shadow: 0px 0px 2px 0.05px grey;
	}
	#restart{
		background-color: #FDA214;
		float: left;
		color: #FCFCFC;
		font-size: 4vw;
	}
	#setup{
		background-color:  #DFE7EC;
		float: right;
		font-size: 4vw;
		color: #152938;
	}
	#downhalf{
		margin-top: 10vw;
	}
	.colored{
		background-color: #FDA214;
	}
	#menu{
		width: 16.3vw;
		height: 8.3vw;
		display: inline;
		background-color: #FDA214;
		color: #FCFCFC;
		text-align: center;
		border-radius: 26px;
		margin: auto  ;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#menu:hover{
		background-color: #FFB84A;
		
	}
	#menu-fade{
		width: 87.2vw;
		height: 59.7vw;
		position: absolute;
		margin:0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: #f2f2f2;
		border-radius: 4vw;
	}
	#box{
		width: 100%;
		display: flex;
		flex-direction: column;
		position:relative;
		top: 2.5vw
	}
	.menu{
		width:74.4vw;
		height: 12.8vw;
		margin: auto;
		margin-top: 4vw;
		background-color: #DFE7EC;
		color: #304859
	}
	.menu:hover{
		background-color: #6395B8;
		color: #fcfcfc
	}
	#menu_restart{
		background-color: #FDA214;
		color: #fcfcfc
	}
	#menu_restart:hover{
		background-color: #FFB84A;
	}
}

@media only screen and (max-device-width: 976px) and (min-device-width: 481px){
	body{
		font-size: 2.7vw;
	}
	h3{
		font-size: 2.5vw;
	}
	#container{
		width: 89.7vw;
	}
	nav{
		width: 100%;
	}
	#but1{
		width: 16.5vw;
		height: 5.1vw;
		justify-content: end;
	}
	#but2{
		width: 19.4vw;
		height: 5.1vw;
		justify-content: end;
	}
	#navg{
		width: 45%;
		height:100%;
		justify-content: end;
	}
	svg{
		top: 0.7vw
	}
	.ball_element{
		width: 17vw;
		height: 17vw;
	}
	.ball_element span{
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 8vw;
		top: 22%
	}
	#balls{
		width: 90%;
		height: 80.7vw;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	#footers{
		width: 100%;
	}
	.players{
        flex-direction: column;
        justify-content: center;
        height: 20vw;
    }
	.playerName{
        position: relative;
        margin-left: 0.5vw;
        top: 3vw;
    }
	.scores{
		position: relative;
		font-size: 6.4vw;
		top: 3.5vw;
	}
	#fader-ele{
		border-radius: 5vw;
		width: 85.2vw;
		padding: 10vw 0vw;
	}
	#speech{
		color: #152938;
		font-size: 6.3vw;
		margin-bottom: 1vw;
	}
	p{
		font-size: 2.8vw;
		top: 3vw;
	}
	.boxes{
		height: 10vw;
		border-radius: 1.3vw;
		margin-bottom: 2.5vw;
	}
	.boxes h2{
		font-size: 4.2vw;
		right: 3vw;
		transform: translate(0%,60%);
	}
	.boxes h3{
		transform: translate(0%,30%);
		left: 3vw;
		font-size: 3vw
	}
	#box5{
		width: 100%;
	}
	.options{
		margin-top: 5vw;
		border-radius: 6vw;
		width: 48%;
		height: 7.6vw;
	}
	.options div{
		top: 20%;
		font-size: 3vw;
	}
	#restart{
		background-color: #FDA214;
		float: left;
		color: #FCFCFC;
		font-size: 0.8vw;
	}
	#setup{
		background-color:  #DFE7EC;
		float: right;
		font-size: 0.8vw;
		color: #152938;
	}
	#downhalf{
		margin-top: 10vw;
	}
}
