*{
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
body{	
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #7191A5;
	background-color: #f2f2f2;
	font-size: 1.4vw;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 1.4vw;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
#fader{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
#fader-ele{
	position: absolute;
	background-color: #f2f2f2;
	border-radius: 1.5vw;
	width: 34vw;
	height: 31vw;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#mini-fader-ele{
	position: absolute;
	margin: 0;
	width: 85%;
	height: 83%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#speech{
	color: #152938;
	font-size: 3.7vw;
}
p{
	position: relative;
	font-size: 1vw;
	margin: auto;
}
.boxes{
	position: relative;
	width: 100%;
	height: 4vw;
	top: 1.5vw;
	background-color: #DFE7EC;
	border-radius: 0.7vw;
	margin-bottom: 0.7vw;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: space-between;
	margin-top: 0.5vw;
}
.boxes h2{
	display: inline;
	margin: 0;
	font-size: 2.4vw;
	color: #304859;
	position: absolute;
	margin-block-start: 0em;
    margin-block-end: 0em;
	right: 4vw;
	height: 4vw;
	transform: translate(0,15%);
}
.boxes h3{
	display: inline;
	text-align: left;
	position: relative;
	left: 1vw;
	transform: translate(0%,30%);
	margin-block-start: 0em;
    margin-block-end: 0em;
}
#min,#mov{
	text-align: right;
	position: relative;
	right: 1vw;
}
#box5{
	width: 100%;
	position: absolute;
	top: 20vw;
}
.options{
	border-radius: 1.8vw;
	width: 13.2vw;
	height: 2.6vw;
}
.options div{
	position: relative;
	top: 25%;
	text-align: center;
}
#restart{
	background-color: #FDA214;
	float: left;
	color: #FCFCFC;
	font-size: 1vw;
}
#restart:hover{
	background-color: #FFB84A;
}
#setup{
	background-color:  #DFE7EC;
	float: right;
	font-size: 1vw;
	color: #152938;
}
#setup:hover{
	background-color: #6395B8;
	color: #FCFCFC
}
#main-container{
	position: absolute;
	margin:0 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#container{
	width: 77.1vw;
	margin: auto;
	position: relative;
}

nav{
	position: relative;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#navg{
	width: 26%;
	height:100%;
	display: flex;
	justify-content: space-between;
}
#but1{
	width: 8.8vw;
	height: 3.6vw;
	background-color: #FDA214;
	color: #FCFCFC;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	margin-right: 10px;
	display: flex;
	justify-content: center;
}
#but1:hover{
	background-color: #FFB84A;
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey;
}
#but2{
	width: 10.4vw;
	height: 3.6vw;
	background-color: #DFE7EC;
	color: #304859;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	display: flex;
	justify-content: center;
}
#but2:hover{
	background-color: #6395B8;
	color: #fcfcfc;
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey;
}
#but1 h3, #but2 h3{
	margin: auto auto;
	position: relative;	
}
svg{
	position: relative;
	top: 6px
}
.ball_element{
	width: 7.2vw;
	height: 7.2vw;
	background-color: #304859;
	border-radius: 50%;
	margin: auto auto;
	cursor: pointer;
}
.ball_element svg{
	color: #FCFCFC;
	position: relative;
	margin:auto 0;
	text-align: center;
	box-sizing: border-box;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 0%;
	transform: translate(-0%,-50%);
	justify-content: center;
	display: none;
}
.ball_element span{
	position: relative;
	margin: 0;
	font-size: 4vw;
	color: #FCFCFC;
	top: 20%;
	display: none;
}
.ball_element path{
	position: relative;
	margin: 0;
}
.ball_element:hover{
	background-color: #6395B8;
}
#balls{
	position: relative;
	text-align: center;
	margin: auto;
	width: 32.9vw;
	height: 32.9vw;
	display: grid;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
}
#footers{
	position: relative;
	margin-top: 5vw;
	width: 36.9vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
#time, #moves{
	width: 17.7vw;
	height: 5vw;
	background-color: #DFE7EC;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.display{
	position: relative;
	height: 100%;
	font-size: 2vw;
	display: inline-block;
	top:50%;
	color: #304859;
	transform: translateY(-25%);
}
#txt{
	position: relative;
	height: 100%;
	top:50%;
	transform: translateY(-16%);
}
#minutes{
	float: left;
}
#menu{
	display: none;
}
.clicked{
	background-color: #FDA214;
	animation: reduce 1 10ms;
	animation-fill-mode: forwards;
}
.clicked svg, .clicked span{
	display: inline;
}
.clicked:hover{
	background-color: #FDA214;
}
.checked{
	background-color: #BCCED9;
	animation: reducer 1 10ms;
	animation-fill-mode: forwards
}
.checked svg, .checked span{
	display: inline;
}
.checked:hover{
	background-color:#BCCED9 ;
}
#m-fader{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index:5;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.options:hover{
	transition: 100ms;
	transform: scale(1.1);
	box-shadow: 0px 0px 2px 0.05px grey;
}
@keyframes reduce{
	100%{
		transform: scale(0.8);
		box-shadow: 0px 0px 2px 0.05px grey;
	}
}
@keyframes reducer{
	100%{
		transform: scale(0.8);
	}
}

@media only screen and (max-device-width: 480px)and (min-device-width: 260px){
	body{
		font-size: 4vw;
	}
	h3{
		font-size: 3.9vw;
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
	}
	#container{
		width: 87.2vw;
		margin: 0 0;
	}
	nav{
		width: 87.2vw;
	}

	#menu{
		width: 16.3vw;
		height: 8.3vw;
		background-color: #FDA214;
		color: #FCFCFC;
		text-align: center;
		border-radius: 26px;
		margin: auto  ;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#menu:hover{
		background-color: #FFB84A;
		color: #fcfcfc;
		transition: 100ms;
		transform: scale(1.1);
		box-shadow:  0px 0px 2px 0.05px grey;
	}
	#menu h3{
		display: inline;
		position: relative;
		top: 0%;
		left: 0%;
		transform: translate(0%,13%);
		width: 100%;
		height: 100%;
	}
	#but1, #but2{
		display: none
	}	
	svg{
	position: relative;
	top: 0.5vw;
	}
	.ball_element{
		width: 18vw;
		height: 18vw;
	}
	.ball_element span{
		font-size: 8vw;
		top: 25%;
	}
	#balls{
		position: relative;
		margin: auto;
		margin-top: 10vw;
		margin-bottom: 10vw;
		width: 87.2vw;
		height:	87.2vw;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: repeat(4, 25%);
	}
	#footers{
		position: relative;
		width: 87.2vw;
	}
	#time, #moves{
		width: 40.3vw;
		height: 18.7vw;
		display:block;
		border-radius: 5px;
		display: grid;
		grid-template-rows: (2, 50%);
		justify-content: space-around;
		box-sizing: border-box;
	}
	
	.display{
		position: relative;
		font-size: 6.4vw;
		top: 0%;
		transform: translateY(0%);
		height: auto;
		display: inline
	}
	#txt{
		top: 65%
	}
	#fader-ele{
		border-radius: 3vw;
		width: 87.2vw;
		height: 100.9vw;
	}
	#mini-fader-ele{
		margin-top:-4vw
	}
	#speech{
		color: #152938;
		font-size: 6.4vw;
		margin-bottom: 1vw;
	}
	p{
		font-size: 3.7vw;
		margin-top: 6vw;
		margin-bottom: 6vw;
	}
	.boxes{
		height: 12.8vw;
		border-radius: 1.3vw;
		margin-bottom: 3vw;
	}
	.boxes h2{
		font-size: 6.2vw;
		margin-right: 3vw;
		transform: translate(0%,60%);
	}
	.boxes h3{
		transform: translate(0%,30%);
		left: 3.5vw
	}
	#box5{
		margin-top: 35vw;
	}
	.options{
		margin-top: 5vw;
		border-radius: 6vw;
		width: 100%;
		height: 10.6vw;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.options div{
		top: 0;
		bottom: 0px;
	}
	#restart{
		background-color: #FDA214;
		float: left;
		color: #FCFCFC;
		font-size: 4vw;
	}
	#setup{
		background-color:  #DFE7EC;
		float: right;
		font-size: 4vw;
		color: #152938;
	}
	#menu-fade{
		width: 87.2vw;
		height: 59.7vw;
		position: absolute;
		margin:0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: #f2f2f2;
		border-radius: 4vw;
	}
	#box{
		width: 100%;
		display: flex;
		flex-direction: column;
		position:relative;
		top: 2.5vw
	}
	#menu{
		width: 16.3vw;
		height: 8.3vw;
		display: inline;
		background-color: #FDA214;
		color: #FCFCFC;
		text-align: center;
		border-radius: 26px;
		margin: auto  ;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.menu{
		width:74.4vw;
		height: 12.8vw;
		margin: auto;
		margin-top: 4vw;
		background-color: #DFE7EC;
		color: #304859
	}
	.menu:hover{
		background-color: #6395B8;
		color: #fcfcfc
	}
	#menu_restart{
		background-color: #FDA214;
		color: #fcfcfc
	}
	#menu_restart:hover{
		background-color: #FFB84A;
	}
	#element{
		display: grid;
		grid-template-columns: 50% 50%;
	}
	#minutes, #seconds, #js{
		margin-top: 2vw;
		margin-bottom: 0px
	}
}

@media only screen and (max-device-width: 976px) and (min-device-width: 481px){
	body{
		font-size: 5vw;
	}
	h3{
		font-size: 2.5vw;
	}
	#container{
		width: 80.7vw;
	}
	nav{
		width: 100%;
	}
	#but1{
		width: 20.5vw;
		height: 7vw;
		justify-content: end;
		border-radius: 7vw;
	}
	#but1 h3, #but2 h3{
		font-size: 3vw
	}
	#but2{
		width: 25.4vw;
		height: 7vw;
		justify-content: end;
		border-radius: 7vw;
	}
	#navg{
		width: 45%;
		height:100%;
		justify-content: end;
	}
	svg{
		top: 3vw
	}
	.ball_element{
		width: 17vw;
		height: 17vw;
	}
	.ball_element span{
		font-size: 8vw;
		top: 25%;
	}
	#balls{
		width: 100%;
		height: 80.7vw;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	#footers{
		width: 100%;
		
	}
	#time, #moves{
		position: relative;
		width: 35vw;
		height: 10vw;

	}
	.display{	
		height: 100%;
		font-size: 6vw;
		transform: translateY(-35%);
	}
	#element{
		position: relative;
		top: -2vw;
	}
	#txt{
		font-size: 3.8vw;
		height: 100%;
		transform: translateY(-20%);
	}
	#fader-ele{
		border-radius: 5vw;
		width: 85.2vw;
		height: 81vw;
	}
	#mini-fader-ele{
		margin-top:-4vw
	}
	#speech{
		color: #152938;
		font-size: 6.3vw;
		margin-bottom: 1vw;
	}
	p{
		margin-top: 2vw;
		margin-bottom: 5vw;
		font-size: 3vw
	}
	.boxes{
		height: 10vw;
		border-radius: 1.3vw;
		margin-bottom: 2.5vw;
	}
	.boxes h2{
		font-size: 4.2vw;
		margin-right: 2vw;
		transform: translate(0%,60%);
	}
	.boxes h3{
		font-size: 2.9vw;
		transform: translate(0%,30%);
		left: 3vw
	}
	#box5{
		width: 72vw;
		margin-top: 25vw;
	}
	.options{
		margin-top: 5vw;
		border-radius: 6vw;
		width: 48%;
		height: 7.6vw;
	}
	.options div{
		top: 20%;
		font-size: 3vw;
	}
	#restart{
		background-color: #FDA214;
		float: left;
		color: #FCFCFC;
		font-size: 0.8vw;
	}
	#setup{
		background-color:  #DFE7EC;
		float: right;
		font-size: 0.8vw;
		color: #152938;
	}
	#mini-fader-ele{
		top: 47.5vw
	}
}
