*{
	margin: 0 0;
	padding: 0 0;
}
body{
	
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #7191A5;
	background-color: #f2f2f2;
	font-size: 1.3vw;
	text-align: center;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 1.4vw;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
#main-container{
	position: absolute;
	margin:0 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#container{
	width: 77vw;
	margin: auto ;
	position: relative;
}
nav{
	position: relative;
	margin-bottom: 2.2vw;
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	bottom: 50%
}
#navg{
	width: 26%;
	height:100%;
	display: flex;
	justify-content: space-between;
}
#but1{
	width: 8.8vw;
	height: 2.5vw;
	background-color: #FDA214;
	color: #FCFCFC;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	margin-right: 10px;
	display: flex;
	justify-content: center;
}
#but2{
	width: 10.4vw;
	height: 2.5vw;
	background-color: #DFE7EC;
	color: #304859;
	text-align: center;
	border-radius: 26px;
	margin: auto 0 ;
	display: flex;
	justify-content: center;
}
#but1 h3, #but2 h3{
	margin: auto auto;
	position: relative;
	
}
svg{
	position: relative;
}
.ball_element{
	width: 4.4vw;
	height: 4.4vw;
	background-color: #304859;
	border-radius: 50%;
	margin: auto auto;

}
#balls{
	position: relative;
	text-align: center;
	margin: auto;
	margin-bottom: 4vw;
	width: 31.3vw;
	height: 31.3vw;
	display: grid;
	margin-top: 3vw;
	grid-template-columns: repeat(6, 16.67%);
	grid-template-rows: repeat(6, 16.67%);
}
#footers{
	position: relative;
	width: 31.3vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
#time, #moves{
	width: 14vw;
	height: 3vw;
	background-color: #DFE7EC;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
.display{
	position: relative;
	height: 100%;
	font-size: 2vw;
	display: inline-block;
	top:50%;
	color: #304859;
	transform: translateY(-45%);
}
#txt{
	position: relative;
	height: 100%;
	top:50%;
	transform: translateY(-32%);
}
#minutes{
	float: left;
}
#menu{
	display: none;
}

@media only screen and (max-device-width: 480px) and (min-device-width: 260px){
	body{
		font-size: 4vw;
	}
	h3{
		font-size: 3.9vw;
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
	}
	#container{
		width: 87.2vw;
		margin: 0 0;	
	}
	nav{
		width: 87.2vw;
		margin-bottom: 22vw;

	}
	#menu{
		width: 16.3vw;
		height: 8.3vw;
		display: inline;
		background-color: #FDA214;
		color: #FCFCFC;
		text-align: center;
		border-radius: 26px;
		margin: auto  ;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#but1, #but2{
		display: none
	}	
	svg{
	position: relative;
	top: 0.5vw;
	}
	.ball_element{
		width: 12.5vw;
		height: 12.5vw;
	
	}
	#balls{
		position: relative;
		margin: auto;
		width: 87.2vw;
		height:	87.2vw;
		display: grid;
		grid-template-columns: repeat(6, 16.67%);
		grid-template-rows: repeat(6, 16.67%);
	}
	#footers{
		position: relative;
		margin-top: 25vw;
		width:87.2vw;
	}
	#time, #moves{
		width: 40.3vw;
		height: 18.7vw;
		display:block;
		border-radius: 5px;
		display: grid;
		grid-template-rows: (2, 50%);
		justify-content: space-around;
		box-sizing: border-box;
	}
	
	.display{
		position: relative;
		height: 100%;
		font-size: 6.4vw;
		top: 0%;
		transform: translateY(0%);
	}
	#txt{
		top: 65%
	}
	.display{
		top: 5%
	}
}

@media only screen and (max-device-width: 976px) and (min-device-width: 481px){
	body{
		font-size: 2.6vw;
	}
	h3{
		font-size: 2.6vw;
	}
	#container{
		width: 89.7vw;
	}
	nav{
		width: 100%;
	}
	#but1{
		width: 16.5vw;
		height: 5.1vw;
		justify-content: end;
	}
	#but2{
		width: 19.4vw;
		height: 5.1vw;
		justify-content: end;
	}
	#navg{
		width: 45%;
		height:100%;
		justify-content: end;
	}
	svg{
		top: 0.7vw
	}
	.ball_element{
		width: 10.7vw;
		height: 10.7vw;
	
	}
	#balls{
		width: 74.5vw;
		height: 74.5vw;
		margin-top: 15vw
	}
	#footers{
		margin-top: 20vw;
		width: 74.5vw;
	}
	#time, #moves{
		width: 35vw;
		height: 10vw;
	}
	.display{
		font-size: 4.2vw;
		transform: translateY(-28%);
	}
	#txt{
		transform: translateY(-20%);
	}
}