*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #152938;
	color: #FCFCFC;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}
img{
	width: 10.5vw;
	height: 1.9vw;
	margin-bottom: 4.3vw;
}
h2{
	font-size: 1.9vw;
	padding: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h3{
	font-size: 1.5vw;
	color: #7191A5;
}
#main-container{
	width: 44.3vw;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#downside{
	background-color: #F2F2F2;
	width: 44.3vw;
	border-radius: 1.5vw;
	padding-top: 2.2vw;
	padding-bottom: 1.1vw;
}

#content{
	width: 37.6vw;
	margin: 0 auto;
}
#first-group, #second-group, #third-group, #button{
	display: flex;
	justify-content: center;
	margin-top: 0.7vw;
	margin-bottom: 1.9vw;
}
a{
	text-decoration: none;
	color: #FCFCFC;
}
#img{
	text-align: center;
}
.button-medium{
	background-color: #BCCED9;
	text-align: center;
	border: 0px transparent solid;
	border-radius: 1.8vw;
	width: 17.8vw;
	height: 3.6vw;
}
.button-medium:hover{
	background-color: #6395B8
}
.button-small{
	background-color: #BCCED9;
	text-align: center;
	border: 0px transparent solid;
	border-radius: 1.8vw;
	width: 8.2vw;
	height: 3.6vw;
}
.button-small:hover{
	background-color: #6395B8;
}
.medium-button-right{
	margin-left: auto;
}
#second-group{
	justify-content: space-between;
}
#button{
	width: 37.6vw;
	height: 4.9vw;
	border: 0px transparent solid;
	border-radius: 2.4vw;
	background-color: #FDA214;
}
#button:hover{
	background-color: #FFB84A;
}
#button h2{
	font-size: 2.4vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
label{
	color: #7191A5;
}
#third-group{
	margin-bottom: 2.6vw ;
}
@media only screen and (max-device-width: 976px) and (min-device-width: 481px){
	img{
		width: 14.7vw;
		height: 4.1vw;
		margin-bottom: 6vw;
	}
	h2{
		font-size: 2.5vw;
		padding: 0px;
		height: 100%;
	}
	h3{
		font-size: 2vw;
	}
	#main-container{
		width: 61vw;
	}
	#downside{
		width: 61vw;
		border-radius: 2vw;
		padding-top: 3vw;
		padding-bottom: 1.5vw;
	}
	#content{
		width: 51.9vw;
	}
	#first-group, #second-group, #third-group, #button{
		margin-top: 1vw;
		margin-bottom: 2.7vw;
	}
	.button-medium{
		border-radius: 2.5vw;
		width: 24.6vw;
		height: 5vw;
	}
	.button-small{
		border-radius: 2.5vw;
		width: 11.4vw;
		height: 4.9vw;
	}
	#button{
		width: 51.9vw;
		height: 6.7vw;
		border-radius: 3.4vw;
	}
	#button h2{
		font-size: 3.3vw;
		height: 100%;
	}
	#third-group{
		margin-bottom: 3.6vw ;
	}
}
@media only screen and (max-device-width: 480px){
	img{
		width: 25.4vw;
		height: 6.3vw;
		margin-bottom: 5.3vw;
	}
	h2{
		font-size: 5vw;
		padding: 0px;
		height: 100%;
	}
	h3{
		font-size: 4.2vw;
	}
	#main-container{
		width: 68.1vw;
	}
	#downside{
		width: 68.1vw;
		border-radius: 2vw;
		padding-top: 6.3vw;
		padding-bottom: 3.1vw;
	}
	#content{
		width: 58.1vw;
	}
	#first-group, #second-group, #third-group, #button{
		margin-top: 1vw;
		margin-bottom: 3.4vw;
	}
	.button-medium{
		border-radius: 5.4vw;
		width: 27.9vw;
		height: 8.3vw;
	}
	.button-small{
		border-radius: 5.4vw;
		width: 12.9vw;
		height: 8.3vw;
	}
	#button{
		width: 58.1vw;
		height: 10vw;
		border-radius: 5.4vw;
	}
	#button h2{
		font-size: 6.7vw;
		height: 100%;
	}
	#third-group{
		margin-bottom: 4.3vw ;
	}
}
